#projectsArea {
    background-color: #180118;
    margin-left: 10%;

}

#projectsDiv {
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}

#myProjects {
    color: #fccffc;
}

#p1 {
    align-self: self-start;
}

#p2 {
    align-self: self-end;
}

#p3 {
    align-self: self-start;
}

#p4 {
    align-self: self-end;
}

