#landingArea{
    /* margin-left:10%; */
    height:100vh;
    width: auto;
    background-color: #180118;
    z-index: -1;
 
}

#heading{
    position: absolute;
    top:30%;
    left:30%;
    transform: translate(-50px, -50px);
    text-align: center;
    height:max-content;
    width: max-content;
    z-index: 0;

}

#animationDiv{
    z-index: 2;
}

.headingName{
    height: max-content;
    margin-bottom: 0px;
    font-size: 20vh;
    font-family:"Brock Script";
    color:#3A0339;
    text-shadow: 2px 2px 5px #fccffc;

}

.headingTitle{
    font-size: 10vh;
    margin-top: 0px;
    margin-bottom:10%;
    color: #fccffc;
  
}

#showButton{
    transition: all .2s ease-in-out; 
    font-size: 5vh;
    text-align: center;
    padding:5%;
    background-color: #3A0339;
    text-decoration: none;
    font-weight: bold;
    border-radius: 75%;
    color: #fccffc;
}
 #showButton:hover{
    transform: scale(5.5); 
    background-image: linear-gradient(to bottom,hsl(300, 25%, 94%),#3A0339 );
    color:#3A0339;
    font-weight: bold;
  }

  .balls {
    border-radius: 50%;
    background: hsl(300, 25%, 94%);
    position: fixed;
    width: 5px;
    height: 5px;
    margin-top: 5px;
    box-shadow: 0 0 8px 4px #fccffc;
    animation-name: flake;
    animation-duration: 3s;
    animation-iteration-count: 2;
    
}

#ball5{
    left:13%;
    top:2%;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
   
}
#ball6{
    left:15%;
    top:20%;
    animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    
}
#ball7{
    left:17%;
    top:80%;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    
}
#ball8{
    left:19%;
    top:60%;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
#ball9{
    left:21%;
    top:90%;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.01);
   
}
#ball10{
    left:23%;
    top:35%;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#ball11{
    left:25%;
    top:8%;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
}

#ball12{
    left:27%;
    top:23%;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
#ball13{
    left:30%;
    top:70%;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    
}
#ball14{
    left:33%;
    top:40%;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#ball15{
    left:36%;
    top:100%;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
#ball16{
    left:35%;
    top:85%;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#ball17{
    left:38%;
    top:10%;
    animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
#ball18{
    left:41%;
    top:50%;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#ball19{
    left:44%;
    top:70%;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.01);
}
#ball20{
    left:47%;
    top:30%;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#ball21{
    left:50%;
    top:88%;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
}
#ball22{
    left:53%;
    top:12%;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
}
#ball23{
    left:56%;
    top:30%;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53)
}
#ball24{
    left:59%;
    top:60%;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#ball25{
    left:62%;
    top:92%;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#ball26{
    left:65%;
    top:53%;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#ball27{
    left:68%;
    top:2%;
    animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
#ball28{
    left:71%;
    top:16%;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#ball29{
    left:74%;
    top:33%;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.01);
}
#ball30{
    left:77%;
    top:77%;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#ball31{
    left:81%;
    top:48%;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

#ball32{
    left:84%;
    top:69%;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
}
#ball33{
    left:87%;
    top:96%;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53)
}
#ball34{
    left:90%;
    top:22%;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#ball35{
    left:93%;
    top:6%;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#ball36{
    left:95%;
    top:43%;
    animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
#ball37{
    left:97%;
    top:79%;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#ball38{
    left:98%;
    top:99%;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.01);
}
#ball39{
    left:99%; 
    top:36%;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);   
}
#ball40{
    left:100%;
    top:53%;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    
    
} 

@keyframes flake {
    0% {
        top: 0px;
 
    } 
  
      100% {
        top: 1000px;
      }
}