#navBar{
    margin:0px;
    height: 100vh;
    width:10%;
    background-color: #9c999b;
    position: fixed;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
   
}

#navLogo{
    margin-top:10%;
    height: 100px;
    width: 100px;
    align-self: center;
}
#linkDiv{
    display: flex;
    flex-direction: column;
}

.linksDivs{
    text-align: center;
    transition: all .2s ease-in-out; 
    padding:8%;
    margin:10% 5% 15% 5%;
    background-color: #180118;
    color:hsl(300, 25%, 94%);
    border-radius: 75%;
    text-decoration: none;
}

.linksDivs:hover{
    transform: scale(1.1); 
    background-image: linear-gradient(to bottom,hsl(300, 25%, 94%),#3A0339 );
    color:#3A0339;
    font-weight: bold;
    
}

#contactDiv{

    display:flex;
    flex-direction: column;
}

#contactDiv{
    margin: auto;
}
.contactlinks{

    transition: all .2s ease-in-out; 
    height:35px;
    width:35px;
    width: max-content;

}

.contactlinks:hover{
    transform: scale(2); 
}