body {
  margin:0px;

  font-family: Corbel, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app{
  display: flex;
  flex-direction: row;
}

code {
  font-family: Corbel, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headers{
  text-align: center;
  font-family:"Brock Script";
  font-size: 8vh;
  
}


